.mod-banner {
    width: 100%;
    height: 250px;
    color: #fff;
    display: -webkit-box;
    text-align: center;
    position: relative;
    background-color: #3ec2f2;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.banner-info {
    position: relative;
    z-index: 99
}
.banner-list {
    position: relative;
    z-index: 99;
    width: 100%;
    left: 0px;
    bottom: 15px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute
}

.banner-list li {
    width: 33%
}

.banner-list li p:first-child {
    font-size: 25px
}

.banner-list li p:nth-child(2) {
    font-size: 12px
}

.banner-list .ui-border-r {
    border-right: 1px solid rgba(255,255,255,0.4)
}
.ui-border-r {
    border-right: 1px solid #e0e0e0
}

.an{
    animation:rotatez 5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}
@keyframes rotatez{
    0%{transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg);}
}
